[Desktop Entry]
Name=Discord
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=xdg-open https://discord.com/app
Icon=discord-canary
Type=Application
Categories=Network;InstantMessaging;
