[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=spotify-client
Exec=xdg-open https://open.spotify.com/
Terminal=false
NoDisplay=true
Categories=Audio;Music;Player;

