[Desktop Entry]
Version=1.5
Name=Telegram Z
Comment=Official web version of Telegram messaging app
TryExec=telegram-desktop
Exec=xdg-open https://web.telegram.org/z
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
