#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Games;
Comment=An action-adventure sandbox 2D game
Exec=Games/Terraria/start.sh
GenericName=Terraria
Icon=terraria
Name=Terraria
StartupNotify=false
Type=Application
Version=1.0
